#grid {
  width: 970px;          /* Cypress expected width */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 124px;
  grid-gap: 10px 10px;
  margin: 0 auto;
}

#grid div {
  background: green;
  color: white;
  padding: 20px;
  font-size: 24px;
}

/* Box 1 */
#grid div:nth-child(1) {
  grid-column: span 4;
}

/* Box 2 */
#grid div:nth-child(2) {
  grid-row: span 4;
}

/* Box 4 */
#grid div:nth-child(4) {
  grid-column: span 2;
}

/* Box 5 */
#grid div:nth-child(5) {
  grid-column: span 2;
}

/* Box 10 */
#grid div:nth-child(10) {
  grid-column: span 3;
}
